name: publish-docs

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  publish-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git Credentials
        run: |
          git config user.email "107038218+fppf-bot@users.noreply.github.com"
          git config user.name "fppf-bot"

      - name: Setup python and Hatch
        uses: Fusion-Power-Plant-Framework/fppf-actions/setup-hatch@main

      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Deploy documentation - publish to gh_pages
        run: hatch run docs:deploy --force
